image: docker:latest

services:
  - docker:dind

stages:
  - build

variables:
  DOCKER_TLS_CERTDIR: ""

before_script:
  - docker info

build_containers:
  stage: build
  script:
    - docker compose build
